a img {
  display: none;
  width: 200px;
  margin: 0 auto;
  -webkit-transition: all 0.6s ease-in-out 0.2s;
	-moz-transition: all 0.6s ease-in-out 0.2s;
	-o-transition: all 0.6s ease-in-out 0.2s;
	-ms-transition: all 0.6s ease-in-out 0.2s;
	transition: all 0.6s ease-in-out 0.2s;
}
.event input[type="radio"]:checked ~ .content-perspective .content-inner a img{
  display: block;
}
